PORT=5000
FRONTEND_ORIGIN=http://localhost:5173
FRONTEND_SUCCESS_URL=http://localhost:5173/success
BACKEND_BASE_URL=http://localhost:5000

PHONEPE_BASE_URL=https://api-preprod.phonepe.com/apis/pg-sandbox
PHONEPE_MERCHANT_ID=TEST_MID
PHONEPE_SALT_KEY=TEST_SALT_KEY
PHONEPE_SALT_INDEX=1

RAZORPAY_KEY_ID=your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
